processPM2/
**/node_modules/*
!**/node_modules/myownmodules
*.kate-swp
/todolist/nbproject/private/
/NodeJsServerIOSocket/nbproject/private/
/SuperChat/nbproject/private/
/ma-todolist/nbproject/private/
/ourtodolist/nbproject/private/
/Meteor/simple-todos/nbproject/private/
/panneau-d-information/nbproject/private/
