processPM2/
**/node_modules/
*.kate-swp
/todolist/nbproject/private/
/NodeJsServerIOSocket/nbproject/private/
/SuperChat/nbproject/private/
/ma-todolist/nbproject/private/
/ourtodolist/nbproject/private/
